# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo
*.pdb
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual environment
venv/
env/
.venv/

# IDEs
.vscode/
.idea/

# Environment variables
.env

# FAISS index / embeddings
embeddings/faiss_index.bin
embeddings/chunks.json
data/resume.txt